.btn-add-to-cart {
  font-size: 16pt;
  padding: 5px 15px;
  background-color: hsl(60, 100%, 50%);
  color: black;
  border-radius: 5px;
}
.btn-add-to-cart:hover {
  background-color: hsl(60, 85%, 45%);
}

.btn-add-to-cart:active {
  background-color: hsl(60, 75%, 40%);
}

.item-old-total  {
  float: right;
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
  text-decoration-color: red;
  color: red;
}

.item-new-total  {
  float: right;
}

.cart-item {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}